{% extends 'base.html' %}



{% block title %}
    <title> SHOP </title>
{% endblock title %}



{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 300px"
      >
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="/shop/">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Shop</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Shop Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
          <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
          {% for category in categories %}
              <a href="{{ url_for('shop_category', category=category.name) }}" class="nav-item nav-link">
                  {{ category.name }}
                  {% for i in stocks %}
                    {% for j in i %}
                      {% if j == category %}
                        ({{i.get(category)}})
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
              </a>
          {% endfor %}
        </div>
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
          <div class="row pb-3">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
              <div class="card product-item border-0 mb-4">
                <div
                  class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
                >
                  <a href="/detail/{{product.id}}"><img class="img-fluid w-100" src="{{product.image_url}}" alt="" /></a>
                </div>
                <div
                  class="card-body border-left border-right text-center p-0 pt-4 pb-3"
                >
                  <h6 class="text-truncate mb-3">{{product.name}}</h6>
                  <div class="d-flex justify-content-center">
                    <h6>${{product.low_price}}</h6>
                    <h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                  </div>
                </div>
                <div
                  class="card-footer d-flex justify-content-between bg-light border"
                >
                  <a href="/detail/{{product.id}}" class="btn btn-sm text-dark p-0"
                    ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
                  >
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-12 pb-1">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-3">
                  <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="/shop/{% if category %}{{category}}{%endif%}?page={{ page-1 }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% for num in range(1, num_pages + 1) %}
                    <li class="page-item {% if num == page %}active{% endif %}">
                      <a class="page-link" href="/shop/{% if category %}{{category}}{%endif%}?page={{ num }}">{{ num }}</a>
                    </li>
                  {% endfor %}
                  <li class="page-item {% if page == num_pages %}disabled{% endif %}">
                    <a class="page-link" href="/shop/{% if category %}{{category}}{%endif%}?page={{ page+1 }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Shop Product End -->
      </div>
    </div>
    <!-- Shop End -->

{% endblock %}